
html, body {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  background: #1c1c1c66;
  overflow: hidden;
}

.cabinets {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  padding-top: 24vh;
}

/* TODO: thinner, along with everything else, like 400px */
/* thing enough that a row of 5 of them will fit (with edges cut off) on a 1200px screen */
.cabinet-holder {
  margin: 0 14px;
  flex: none;
}

.cabinet {
  width: 420px;
}

.logo-holder {
  width: 100%;
  height: 84px;
  border-top: 8px solid #090615;
  border-bottom: 8px solid #090615;
  position: relative;
  z-index: 10;
  box-shadow: 0px 82px 25px #0002;
  background: linear-gradient(
    90deg, 
    #05a389 0%, 
    #05a389 3%, 
    #FFF 3%, 
    #FFF 4%, 
    #05a389 4%, 
    #05a389 5%, 
    #FFF 5%, 
    #FFF 6%, 
    #05a389 6%, 
     /* other side */
    #05a389 94%, 
    #FFF 94%, 
    #FFF 95%, 
    #05a389 95%, 
    #05a389 96%, 
    #FFF 96%, 
    #FFF 97%, 
    #05a389 97%, 
    #05a389 100%
  );
}

.logo-holder::before {
  content: '';
  position: absolute;
  width: 8px;
  height: calc(84px + 24px);
  top: -16px;
  left: 0;
  background: #000;
}

.logo-holder::after {
  content: '';
  position: absolute;
  width: 8px;
  height: calc(84px + 24px);
  top: -16px;
  left: 100%;
  background: #000;
}

.logo {
  height: 100%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.screen-holder {
  width: calc(100% - 52px);
  height: 360px;
  margin: 0 auto;
  background: #080123;
  border-right: 8px solid #000;
  border-left: 8px solid #000;
  position: relative;
  margin-bottom: -1px;
}

.screen {
  width: calc(100% - 40px);
  height: calc(100% - 80px);
  background: #bae4ee;
  position: relative;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 120px 120px 120px 120px/15px 15px 15px 15px;
  overflow: hidden;
  box-shadow: 0px 0px 80px #0effff5e;
}

.screen-shine {
  /* TODO: this needs a flicker effect */
  width: 180%;
  height: 180%;
  clip-path: ellipse(50% 40% at 50% 50%);
  background: #fff1;
}

.button-row-holder {
  width: 100%;
  height: 84px;
  margin-bottom: -1px;
  position: relative;
}

.button-row-edge {
  width: 100%;
  height: 100%;
  clip-path: polygon(18px 0%, calc(100% - 18px) 0, 100% 100%, 0% 100%);
  background: #000;
}

.button-row-face {
  width: calc(100% - 16px);
  height: calc(100% - 16px);
  transform: translate(8px, 8px);
  clip-path: polygon(16px 0%, calc(100% - 16px) 0, 100% 100%, 0% 100%);
  background: #05a389;
  background: linear-gradient(
    90deg, 
    #05a389 0%, 
    #05a389 3%, 
    #FFF 3%, 
    #FFF 4%, 
    #05a389 4%, 
    #05a389 5%, 
    #FFF 5%, 
    #FFF 6%, 
    #05a389 6%, 
     /* other side */
    #05a389 94%, 
    #FFF 94%, 
    #FFF 95%, 
    #05a389 95%, 
    #05a389 96%, 
    #FFF 96%, 
    #FFF 97%, 
    #05a389 97%, 
    #05a389 100%
  );

  /* background: -moz-linear-gradient(135deg, #05a389 0%, #05a389 36%, #FFF 37%, #FFF 49%, #05a389 49%, #05a389 63%, #FFF 64%, #FFF 70%, #05a389 70%, #05a389 100%);

  background: -webkit-linear-gradient(135deg, #05a389 0%, #05a389 36%, #FFF 37%, #FFF 49%, #05a389 49%, #05a389 63%, #FFF 64%, #FFF 70%, #05a389 70%, #05a389 100%);

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#05a389", endColorstr="#05a389", GradientType=1 ); */
}

.legs {
  width: calc(100% - 16px);
  height: 50%;
  border-right: 8px solid #000;
  border-left: 8px solid #000;
  clip-path: polygon(0 0, 100% 0, 94% 100%, 6% 100%);
  background: #1d1c1c;
  background: linear-gradient(
    0deg, 
    #000 0%,
    #1c1c1c 100%
  );
}



/* joystick */

.joystick {
  position: absolute;
  top: -28px;
  left: 22%;
  border-radius: 50%;
  border: 8px solid #000;
  z-index: 3;
  width: 28px;
  height: 28px;
  background: #b40303;
  transform: translateX(-50%);
}

.joystick .stick {
  position: absolute;
  top: 100%;
  left: calc(50% - 5px);
  width: 10px;
  height: 38px;
  background: #000;
}

.joystick .stick:before {
  position: absolute;
  top: calc(50% + 10px);
  left: calc(-50% - 5px);
  content: '';
  background: #000;
  width: 30px;
  height: 17px;
  border-radius: 100%;
}

.button {
  position: absolute;
  width: 22px;
  height: 14px;
  border-radius: 100%;
  border: 6px solid #000;
  z-index: 1;
  transform: translateX(-50%);
}

.button.button-1 {
  top: 24%;
  left: 74%;
  background-color: #b40303;
  /* box-shadow: 2px 1px 0px #b40303; */
}

.button.button-2 {
  top: 42%;
  left: 83%;
  background-color: #fff;
  /* box-shadow: 2px 1px 0px #fff; */
}